/* планшет */
@media screen and (max-width: 1023px) {
  .section1 {
    height: 112vw;
  }

  .mainMenu {
    width: 66vw;
    height: 5vw;
    padding: 1.6vw 7vw;
    border-radius: 3.5vw;
    left: 32vw;
    top: 2.6vw;
    z-index: 2;
  }

  .mainMenuLink {
    font-size: 2vw;
  }
  .logo {
    position: absolute;
    width: 8vw;
    height: 8vw;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: 1.3vw;
    left: 1.3vw;
    z-index: 3;
  }
  .n1 {
    width: 100vw;
    height: 112vw;
    background-image: url(../images/w1.svg);
    background-size: cover;
  }
  .n2 {
    width: 100vw;
    height: 112vw;
    background-image: url(../images/w2.svg);
    background-size: cover;
  }
  .n3 {
    width: 100vw;
    height: 112vw;
    background-image: url(../images/w3.svg);
    background-size: cover;
  }

  .text1 {
    left: 2.5vw;
    top: 45vw;
  }
  .text2 {
    font-size: 3vw;
    top: 65vw;
    left: 3vw;
  }

  .button1 {
    width: 28vw;
    height: 7.5vw;
    top: 71vw;
    left: 2.5vw;
    font-size: 3.5vw;
    padding: 1.9vw 5.9vw;
  }

  .close {
    font-size: 38px;
  }
  .wT {
    font-size: 2.7vw;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .button1:hover {
    color: #fff6d2;
    background-color: #5d8bed;
  }

  .section_mag1 {
    height: 133vw;
  }

  .magh1 {
    top: 14vw;
    left: 10vw;
    font-size: 7vw;
  }

  .textmag1 {
    font-size: 2vw;
    left: 10vw;
    top: 23vw;
  }

  .textmag2 {
    font-size: 2vw;
    right: 7vw;
    top: 102vw;
  }

  .animtext {
    top: 71vw;
  }

  .readbut {
    width: 28vw;
    height: 7.5vw;
    font-size: 4vw;
    padding: 1.7vw 7.5vw;
    top: 113vw;
  }

  .readbut:hover {
    color: #fff6d2;
    background-color: #5d8bed;
  }
  .zin {
    width: 50vw;
    height: 40vw;
    top: 81vw;
    left: 2vw;
  }

  .zin2 {
    width: 60vw;
    height: 50vw;
    top: 40vw;
  }

  .zin3 {
    width: 60vw;
    height: 50vw;
    top: 33vw;
    left: 25vw;
  }

  .zin4 {
    width: 60vw;
    height: 50vw;
    top: 29vw;
    left: 49vw;
  }
  .zin5 {
    width: 65vw;
    height: 55vw;
    top: 55vw;
    right: 36vw;
  }

  .zin6 {
    width: 55vw;
    height: 45vw;
    top: 56vw;
    left: 55vw;
  }

  .zin7 {
    width: 58vw;
    height: 48vw;
    top: 54vw;
    left: 35vw;
  }

  .zin8 {
    width: 50vw;
    height: 40vw;
    top: 76vw;
    left: 42vw;
  }

  .sec2 {
    width: 100vw;
    height: 112vw;
  }
  .kar4 {
    position: absolute;
    width: 19.5vw;
    height: 19.5vw;
    top: 87.8vw;
  }
  .kar3 {
    width: 13vw;
    height: 13vw;
    left: 80.3vw;
    top: 78.8vw;
  }
  .kar1 {
    width: 22vw;
    height: 21vw;
    left: 70.3vw;
    top: 7.8vw;
  }
  .kar2 {
    width: 11vw;
    height: 11vw;
  }

  .textik1 {
    top: 45vw;
    left: 17.5vw;
  }
  .textik2 {
    top: 59.8vw;
    right: 17.5vw;
  }

  .d3_2 {
    width: 35.5vw;
    height: 33vw;
    z-index: 3;
  }
  .d3_1 {
    width: 36.8vw;
    height: 32.8vw;
  }

  .t1 {
    font-size: 2.7vw;
  }

  .p1 {
    font-size: 1.7vw;
    top: 18.7vw;
  }

  .t2 {
    font-size: 2.7vw;
  }

  .p2 {
    font-size: 1.7vw;
    right: 11.2vw;
    top: 54vw;
  }

  .but_cat {
    margin-top: -6.6vw;
    margin-left: 5.5vw;
  }
  .but_cat:hover {
    background-color: #ff7db7;
  }
}

/* мобилка */
@media screen and (max-width: 767px) {
  .section1 {
    height: 216vw;
  }
  .logo {
    width: 15.4vw;
    height: 15.4vw;
    top: 3vw;
    left: 3vw;
    z-index: 3;
  }

  .n1 {
    height: 216vw;
    background-image: url(../images/wall1tel.svg);
  }
  .n2 {
    height: 216vw;
    background-image: url(../images/wall2tel.svg);
  }
  .n3 {
    height: 216vw;
    background-image: url(../images/wall3tel.svg);
  }

  .text1 {
    font-size: 15vw;
    z-index: 3;
    left: 14.493vw;
    top: 22vw;
    text-align: center;
  }
  .text2 {
    font-size: 4.8vw;
    top: 55.7vw;
    left: 24.879vw;
  }
  .button1 {
    width: 52vw;
    height: 14vw;
    font-size: 5.5vw;
    padding: 4vw 13vw;
    border-radius: 14vw;
    transition: all ease 0.6s;
    top: 65vw;
    left: 23.43vw;
  }

  .button1:hover {
    color: #fff6d2;
    background-color: #5d8bed;
  }
  .section2 {
    height: 71vw;
  }
  .tel,
  .pochta {
    font-size: 4.5vw;
    left: 3vw;
  }

  .pochta {
    top: 37vw;
  }
  .tel {
    top: 43vw;
  }

  .telega,
  .vk,
  .githab {
    width: 10.6vw;
    height: 10.6vw;
    top: 51vw;
  }
  .telega {
    left: 3vw;
  }

  .vk {
    left: 18vw;
  }

  .githab {
    left: 33vw;
  }
  input {
    width: 79vw;
    border-radius: 8vw;
    height: 9.4vw;
    border: 0.6vw solid #fff6d2;
    transition: border-color 0.3s ease;
    font-size: 4.5vw;
    padding: 2.2vw 3.2vw;
    left: 3vw;
    top: 22vw;
  }

  .imp_email,
  .imp_email_bl {
    -webkit-text-fill-color: #797672;
    -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset;
  }

  .knop {
    width: 39.6vw;
    height: 9.42vw;
    font-size: 4.5vw;
    border-radius: 6vw;
    top: 22vw;
    right: 17vw;
  }
  .knop:hover {
    border: 0.6vw solid #fff6d2;
  }
  .podpiska {
    font-size: 5.5vw;
    top: 12vw;
    left: 3vw;
  }
  /* Модальное содержание/коробка */
  .modal-content {
    border-radius: 6vw;
    margin: 15% auto;
    padding: 124px 8vw;
    width: 80%;
  }

  /* Кнопка закрытия */
  .close {
    font-size: 67px;
  }
  .wT {
    font-size: 5.5vw;
  }

  /* магаз */
  .sec_c1 {
    height: 1140vw;
  }
  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 13vw;
    padding: 53vw 8vw 1vw;
    align-items: center;
  }
  .card-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  .name1 {
    margin-top: 3vw;
    border: 0.6vw solid #5d8bed;
    width: 83vw;
    height: 11.3vw;
    padding: 3.3vw;
    border-radius: 7vw;
    font-size: 4vw;
  }
  .add {
    width: 17vw;
    height: 17vw;
    left: 2.5vw;
    top: 2.5vw;
  }
  .but_cat {
    width: 22vw;
    height: 22vw;
    border-radius: 6.3vw;
    font-size: 5vw;
    margin-top: -22vw;
    margin-left: 17.6vw;
  }
  .h1cat {
    font-size: 11.5vw;
    top: 31vw;
    left: 10vw;
  }
  /* о нас */
  .sec1 {
    height: 216vw;
  }
  .bagrus {
    height: 216vw;
    background-image: url(../images/aboutwall.svg);
  }
  .sec2 {
    height: 216vw;
  }
  .textik2,
  .textik1 {
    font-size: 4vw;
  }

  .textik1 {
    top: 91vw;
    left: 3.7vw;
  }
  .textik2 {
    top: 118vw;
    right: 6vw;
  }

  .kar1 {
    width: 27vw;
    height: 27vw;
    left: 70.3vw;
    top: 21.8vw;
  }

  .kar2 {
    width: 15vw;
    height: 15vw;
    left: 6.3vw;
    top: 16.8vw;
  }

  .kar3 {
    width: 16vw;
    height: 16vw;
    left: 81.3vw;
    top: 150.8vw;
  }

  .kar4 {
    width: 28vw;
    height: 28vw;
    left: 9vw;
    top: 169.8vw;
  }
  .sec3 {
    height: 209vw;
  }

  .button2 {
    width: 52vw;
    height: 14vw;
    font-size: 5.5vw;
    padding: 4vw 13vw;
    border-radius: 14vw;
    transition: all ease 0.6s;
    top: 170vw;
    left: 23.43vw;
  }
  .button2:hover {
    color: #fff6d2;
    background-color: #5d8bed;
  }

  .group1 {
    width: 95vw;
    height: 72vw;
    background-image: url(../images/gr1.svg);
    right: 3.5vw;
    top: 10vw;
  }

  .group2 {
    width: 95vw;
    height: 65vw;
    background-image: url(../images/gr2.svg);
    left: 3.5vw;
    top: 90vw;
  }
  .d3_1 {
    background-image: none;
  }
  .d3_2 {
    background-image: none;
  }
  .chipik1 {
    width: 17vw;
    height: 17vw;
    left: 84vw;
    top: 4vw;
  }

  .chipik2 {
    width: 19vw;
    height: 19vw;
    top: 83vw;
    left: 1vw;
  }
  .t1 {
    font-size: 3.8vw;
    top: 15vw;
    left: 7vw;
  }

  .p1 {
    width: 39vw;
    font-size: 2.5vw;
    top: 26vw;
    left: 7vw;
  }

  .t2 {
    font-size: 3.8vw;
    top: 94.5vw;
    right: 7.5vw;
  }

  .p2 {
    font-size: 2.5vw;
    right: 10vw;
    top: 102vw;
  }

  .section_mag1 {
    height: 216vw;
  }
  .magh1 {
    font-size: 11.5vw;
    top: 31vw;
    left: 5.5vw;
  }
  .textmag1 {
    font-size: 3vw;
    left: 5.7vw;
    top: 47vw;
  }
  .textmag2 {
    font-size: 3vw;
    right: 9vw;
    top: 168vw;
  }

  .animtext {
    font-size: 7vw;
    top: 108vw;
  }

  .readbut {
    width: 47vw;
    height: 14vw;
    font-size: 5.5vw;
    padding: 4vw 14vw;
    border-radius: 14vw;
    right: 12vw;
    top: 188vw;
  }

  .readbut:hover {
    color: #fff6d2;
    background-color: #5d8bed;
  }
  .zin {
    width: 60vw;
    height: 55vw;
    top: 104vw;
    left: 2vw;
  }

  .zin2 {
    width: 61vw;
    height: 49vw;
    top: 69vw;
  }

  .zin3 {
    width: 70vw;
    height: 60vw;
    top: 56vw;
    left: 20vw;
  }

  .zin4 {
    width: 57vw;
    height: 47vw;
    top: 51vw;
    right: 8vw;
  }
  .zin5 {
    width: 60vw;
    height: 50vw;
    top: 80vw;
    right: 55vw;
  }

  .zin6 {
    width: 60vw;
    height: 50vw;
    top: 83vw;
    left: 47vw;
  }

  .zin7 {
    width: 63vw;
    height: 53vw;
    top: 82vw;
    left: 15vw;
  }

  .zin8 {
    width: 50vw;
    height: 40vw;
    top: 107vw;
    left: 29vw;
  }

  /* бургер меню */
  #burger {
    width: 40px;
    height: 26px;
    margin: 2vw;
    cursor: pointer;
    position: absolute;
    z-index: 7;
    right: 4.8vw;
    top: 4vw;
  }
  #burger::before,
  #burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #1a1a1a;
    transition: transform ease 0.8s;
  }
  #burger::before {
    top: 0;
    height: 2vw;
    border-radius: 2vw;
    box-shadow: 0 25px 0 #1a1a1a;
  }
  #burger::after {
    top: 13px;
    height: 2vw;
    border-radius: 2vw;
  }
  #burger.active::before {
    box-shadow: none;
    transform: rotate(45deg);
    top: 12px;
  }
  #burger.active::after {
    transform: rotate(-45deg);
  }
  .mainMenu {
    width: 100%;
    height: 220vw;
    flex-direction: column;
    border-radius: 0;
    justify-content: center;
    text-align: center;
    padding: 50px 34vw;
    gap: 20vw;
    background-color: #5d8bed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform ease 0.8s;
    border-right: 2px solid;
  }
  .mainMenu a {
    font-size: 8vw;
  }
  #burger.active + .mainMenu {
    transform: translateX(0);
  }
  .mainMenu a::before {
    content: '';
    position: absolute;
    right: 3vw;
    width: 8vw;
    height: 8vw;
    opacity: 0;
  }
  .mainMenu a:hover::before {
    opacity: 1;
    transform: translateX(1.4vw);
    transition:
      opacity ease 0.4s,
      transform ease 0.9s;
  }
  .mainMenu a.active:hover::before {
    opacity: 0;
  }
}
