img {
  width: 100%;
}

@keyframes slide {
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.animtext {
  animation: marquee 15s infinite linear;
  white-space: nowrap;
  display: flex;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
