* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
.section1 {
  width: 100vw;
  height: 71vw;
  position: relative;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.logo {
  position: absolute;
  width: 6.6vw;
  height: 6.6vw;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 1.3vw;
  left: 1.3vw;
  z-index: 3;
}
.mainMenu {
  background-color: #1a1a1a;
  display: flex;
  width: 52.5vw;
  height: 4vw;
  padding: 1.1vw 5.5vw;
  border-radius: 3.5vw;
  justify-content: space-between;
  position: absolute;
  left: 45vw;
  top: 2.6vw;
  z-index: 2;
}

.mainMenuLink {
  font-family: 'SF_Pro_Display';
  font-size: 1.6vw;
  color: #fff6d2;
  text-decoration: none;
  transition: all ease 0.6s;
}

.slider-wrapper {
  width: 100vw;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 400vw;
  animation: slide 17s infinite;
}

.n1 {
  width: 100vw;
  height: 72vw;
  background-image: url(../images/wallpaper.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.n2 {
  width: 100vw;
  height: 72vw;
  background-image: url(../images/wall2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.n3 {
  width: 100vw;
  height: 72vw;
  background-image: url(../images/wall3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.text1 {
  position: absolute;
  font-family: 'Lemon Milk';
  color: #fff6d2;
  font-size: 9vw;
  z-index: 3;
  left: 1.3vw;
  top: 22vw;
}
.text2 {
  position: absolute;
  z-index: 3;
  font-family: 'SF_Pro_Display';
  font-size: 2.2vw;
  color: #fff6d2;
  top: 41vw;
  left: 1.6vw;
}

.button1 {
  position: absolute;
  background-color: #1a1a1a;
  font-family: 'SF_Pro_Display';
  font-size: 2.7vw;
  color: #fff6d2;
  z-index: 3;
  padding: 2vw 4vw;
  border-radius: 4vw;
  text-decoration: none;
  transition: all ease 0.6s;
  top: 45vw;
  left: 1.3vw;
}

.button1:hover {
  color: #fff6d2;
  background-color: #5d8bed;
}

.section2 {
  width: 100vw;
  height: 15vw;
  position: relative;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #1a1a1a;
}

input {
  position: absolute;
  width: 47vw;
  height: 4.7vw;
  border-radius: 4vw;
  border: 0.3vw solid #fff6d2;
  background: #1a1a1a;
  transition: border-color 0.3s ease;
  color: #797672;
  font-family: 'SF_Pro_Display';
  font-size: 1.6vw;
  padding: 2.2vw 3.2vw;
  right: 1.3vw;
  top: 7.3vw;
}

.imp_email,
.imp_email_bl {
  -webkit-text-fill-color: #797672;
  -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset;
}

.knop {
  position: absolute;
  width: 19vw;
  height: 4.7vw;
  font-family: 'SF_Pro_Display';
  font-size: 2.2vw;
  color: #1a1a1a;
  background-color: #fff6d2;
  border-radius: 4vw;
  border: none;
  transition: all ease 0.6s;
  top: 7.4vw;
  right: 1.3vw;
}
.knop:hover {
  color: #fff6d2;
  background-color: #1a1a1a;
  border: 0.3vw solid #fff6d2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Модальное содержание/коробка */
.modal-content {
  border-radius: 4vw;
  background-color: #fff6d2;
  margin: 15% auto;
  padding: 74px;
  width: 80%;
}

/* Кнопка закрытия */
.close {
  color: #ff7db7;
  float: right;
  font-size: 63px;
  font-weight: bold;
}
.wT {
  font-family: 'Lemon Milk';
  color: #bf9bde;
  font-size: 2.3vw;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.podpiska {
  position: absolute;
  font-family: 'Lemon Milk';
  color: #fff6d2;
  font-size: 3vw;
  top: 2vw;
  right: 4.9vw;
}

.tel,
.pochta {
  position: absolute;
  font-family: 'SF_Pro_Display';
  font-size: 2vw;
  color: #fff6d2;
  left: 1.3vw;
}

.pochta {
  top: 4.5vw;
}
.tel {
  top: 2vw;
}

.telega,
.vk,
.githab {
  position: absolute;
  width: 4.1vw;
  height: 4.1vw;
  background-repeat: no-repeat;
  background-size: contain;
  top: 8.5vw;
}

.telega {
  background-image: url(../images/telega.svg);
  left: 1.3vw;
}

.vk {
  background-image: url(../images/vk.svg);
  left: 7.6vw;
}

.githab {
  background-image: url(../images/git.svg);
  left: 14vw;
}

.sec1 {
  width: 100vw;
  height: 56vw;
  position: relative;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.bagrus {
  width: 100vw;
  height: 100vw;
  background-image: url(../images/bagrus.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sec2 {
  width: 100vw;
  height: 69vw;
  position: relative;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #fff6d2;
}

.textik2,
.textik1 {
  position: absolute;
  font-size: 2.2vw;
  font-family: 'Lemon Milk';
  color: #5d8bed;
}

.textik1 {
  top: 25vw;
  left: 17.5vw;
}
.textik2 {
  top: 39.8vw;
  right: 17.5vw;
}

.kar1 {
  position: absolute;
  background-image: url(../images/vinograd.svg);
  width: 19vw;
  height: 20vw;
  background-repeat: no-repeat;
  background-size: contain;
  left: 70.3vw;
  top: 5.8vw;
}

.kar2 {
  position: absolute;
  background-image: url(../images/chip1.svg);
  width: 8vw;
  height: 8vw;
  background-repeat: no-repeat;
  background-size: contain;
  left: 6.3vw;
  top: 6.8vw;
}

.kar3 {
  position: absolute;
  background-image: url(../images/chip2.svg);
  width: 11vw;
  height: 11vw;
  background-repeat: no-repeat;
  background-size: contain;
  left: 82.3vw;
  top: 53.8vw;
}

.kar4 {
  position: absolute;
  background-image: url(../images/capusta.svg);
  width: 16.5vw;
  height: 16.5vw;
  background-repeat: no-repeat;
  background-size: contain;
  left: 9vw;
  top: 46.8vw;
}

.sec3 {
  width: 100vw;
  height: 100vw;
  position: relative;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #fff6d2;
}

.group1 {
  position: absolute;
  width: 75vw;
  height: 37vw;
  background-image: url(../images/Group1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  right: 21.6vw;
  top: 10vw;
}

.group2 {
  position: absolute;
  width: 75vw;
  height: 37vw;
  background-image: url(../images/Group2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  left: 24.6vw;
  top: 47vw;
}

.button2 {
  width: 20vw;
  height: 5.3vw;
  background-color: #1a1a1a;
  color: #fff6d2;
  font-family: 'SF_Pro_Display';
  font-size: 2.5vw;
  position: absolute;
  padding: 1.3vw 3.5vw;
  border-radius: 4vw;
  text-decoration: none;
  transition: all ease 0.6s;
  left: 40.069vw;
  top: 84vw;
}
.button2:hover {
  color: #fff6d2;
  background-color: #5d8bed;
}
.t1 {
  position: absolute;
  font-family: 'Lemon Milk';
  font-size: 2.5vw;
  top: 12vw;
  left: 8.2vw;
  color: #fff6d2;
}

.p1 {
  position: absolute;
  font-family: 'SF_Pro_Display';
  font-size: 1.3vw;
  top: 18.5vw;
  left: 8.2vw;
  color: #fff6d2;
}

.t2 {
  position: absolute;
  font-family: 'Lemon Milk';
  font-size: 2.5vw;
  top: 49vw;
  right: 8.3vw;
  color: #fff6d2;
}

.p2 {
  position: absolute;
  font-family: 'SF_Pro_Display';
  font-size: 1.3vw;
  right: 14.8vw;
  top: 53vw;
  color: #fff6d2;
}

.d3_1 {
  position: absolute;
  width: 36.9vw;
  height: 32.9vw;
  background-image: url(../images/3d_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 38vw;
}
.d3_2 {
  position: absolute;
  width: 35.4vw;
  height: 32.9vw;
  background-image: url(../images/3d_2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}
.chipik1 {
  position: absolute;
  width: 15.6vw;
  height: 15.6vw;
  background-image: url(../images/chipik1.svg);
  left: 69vw;
  top: 4vw;
  background-repeat: no-repeat;
  background-size: contain;
}

.chipik2 {
  position: absolute;
  width: 15.6vw;
  height: 15.6vw;
  background-image: url(../images/chipik2.svg);
  top: 44vw;
  left: 19vw;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 4;
}

.section_mag1 {
  width: 100vw;
  height: 80vw;
  position: relative;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #fff6d2;
}

.magh1 {
  position: absolute;
  font-family: 'Lemon Milk';
  font-size: 5.5vw;
  color: #5d8bed;
  top: 12vw;
  left: 5.7vw;
}

.textmag1 {
  position: absolute;
  font-family: 'SF_Pro_Display';
  font-size: 1.3vw;
  left: 5.7vw;
  top: 20vw;
  color: #bf9bde;
}

.textmag2 {
  position: absolute;
  font-family: 'SF_Pro_Display';
  font-size: 1.3vw;
  color: #bf9bde;
  right: 9.7vw;
  top: 60vw;
}

.animtext {
  position: absolute;
  font-family: 'Lemon Milk';
  font-size: 6.6vw;
  top: 40vw;
  color: #ff7db7;
}

.readbut {
  width: 20vw;
  height: 5.3vw;
  background-color: #1a1a1a;
  color: #fff6d2;
  font-family: 'SF_Pro_Display';
  font-size: 2.5vw;
  position: absolute;
  padding: 1.3vw 5.9vw;
  border-radius: 4vw;
  text-decoration: none;
  transition: all ease 0.6s;
  right: 12vw;
  top: 69vw;
}

.readbut:hover {
  color: #fff6d2;
  background-color: #5d8bed;
}
.zin {
  width: 45vw;
  height: 35vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 43vw;
  left: 10vw;
}

.zin2 {
  width: 45vw;
  height: 35vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 17vw;
}

.zin3 {
  width: 50vw;
  height: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 13vw;
  left: 30vw;
}

.zin4 {
  width: 47vw;
  height: 37vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 7vw;
  right: 8vw;
}
.zin5 {
  width: 55vw;
  height: 45vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 22vw;
  right: 36vw;
}

.zin6 {
  width: 50vw;
  height: 40vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 26vw;
  left: 55vw;
}

.zin7 {
  width: 53vw;
  height: 43vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 28vw;
  left: 35vw;
}

.zin8 {
  width: 40vw;
  height: 30vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 51vw;
  left: 29vw;
}

.sec_c1 {
  width: 100vw;
  height: 146vw;
  position: relative;
  top: 0;
  overflow: hidden;
  background-color: #fff6d2;
}

.h1cat {
  position: absolute;
  font-family: 'Lemon Milk';
  font-size: 5.5vw;
  color: #5d8bed;
  top: 12vw;
  left: 3.5vw;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  gap: 7vw;
  padding: 23vw 3vw 1vw;
}
.image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}
.image-wrapper2 img {
  display: block;
  width: 100%;
  height: auto;
}
.card {
  margin-bottom: 20px;
}

.card {
  width: 100%;
  height: 100%;
}
.card2 {
  width: 100%;
  height: 100%;
}
.name1 {
  margin-top: 1.3vw;
  border: 0.3vw solid #5d8bed;
  display: flex;
  width: 26vw;
  height: 3.5vw;
  padding: 0.7vw;
  border-radius: 3.5vw;
  justify-content: space-between;
  font-family: 'SF_Pro_Display';
  color: #5d8bed;
  font-size: 1.5vw;
}
.but_cat {
  position: absolute;
  width: 6.944vw;
  height: 6.944vw;
  border-radius: 2.3vw;
  background-color: #1a1a1a;
  font-size: 5vw;
  color: #ffffff;
  margin-top: -7vw;
  margin-left: 5.6vw;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}
.but_cat:hover {
  background-color: #ff7db7;
}
.add {
  position: absolute;
  width: 5.3vw;
  height: 5.3vw;
  background-image: url(../images/add.svg);
  left: 0.79vw;
  top: 0.7vw;
  background-repeat: no-repeat;
  background-size: contain;
}
