* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
.section1 {
  width: 100vw;
  height: 71vw;
  position: relative;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.mainMenu {
  background-color: #1a1a1a;
  display: flex;
  width: 52.5vw;
  height: 4vw;
  padding: 1.1vw 5.5vw;
  border-radius: 3.5vw;
  justify-content: space-between;
  position: absolute;
  left: 45vw;
  top: 2.6vw;
  z-index: 2;
}

.mainMenuLink {
  font-family: 'SF_Pro_Display';
  font-size: 1.6vw;
  color: #fff6d2;
  text-decoration: none;
  transition: all ease 0.6s;
}

/* .wallpaper {
  position: absolute;
  width: 100vw;
  height: 72vw;
  background-image: url(../images/wallpaper.svg);
  background-repeat: no-repeat;
  background-size: contain;
} */

.swiper {
  width: 100vw;
  height: 71vw;
}

.swiper-slide1 {
  width: 100vw;
  height: 72vw;
  background-image: url(../images/wallpaper.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.swiper-slide2 {
  width: 100vw;
  height: 72vw;
  background-image: url(../images/wall2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.swiper-slide3 {
  width: 100vw;
  height: 72vw;
  text-align: center;
  background-image: url(../images/wall3.svg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text1 {
  position: absolute;
  font-family: 'Lemon Milk';
  color: #fff6d2;
  font-size: 9vw;
  z-index: 3;
  left: 1.3vw;
  top: 22vw;
}
.text2 {
  position: absolute;
  z-index: 3;
  font-family: 'SF_Pro_Display';
  font-size: 2.2vw;
  color: #fff6d2;
  top: 41vw;
  left: 1.6vw;
}

.button1 {
  position: absolute;
  background-color: #1a1a1a;
  font-family: 'SF_Pro_Display';
  font-size: 2.7vw;
  color: #fff6d2;
  z-index: 3;
  padding: 2vw 4vw;
  border-radius: 4vw;
  text-decoration: none;
  top: 45vw;
  left: 1.3vw;
}

.section2 {
  width: 100vw;
  height: 15vw;
  position: relative;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #1a1a1a;
}

input {
  position: absolute;
  width: 47vw;
  height: 4.7vw;
  border-radius: 4vw;
  border: 0.3vw solid #fff6d2;
  background: #1f1f1f;
  transition: border-color 0.3s ease;
  color: #797672;
  font-family: 'SF_Pro_Display';
  font-size: 1.6vw;
  padding: 2.2vw 3.2vw;
  right: 1.3vw;
  top: 7.3vw;
}

.imp_email,
.imp_email_bl {
  -webkit-text-fill-color: #797672;
  -webkit-box-shadow: 0 0 0px 1000px #1f1f1f inset;
}

.knop {
  position: absolute;
  width: 19vw;
  height: 4.7vw;
  font-family: 'SF_Pro_Display';
  font-size: 2.2vw;
  color: #1a1a1a;
  background-color: #fff6d2;
  border-radius: 4vw;
  border: none;
  top: 7.4vw;
  right: 1.3vw;
}

.podpiska {
  position: absolute;
  font-family: 'Lemon Milk';
  color: #fff6d2;
  font-size: 3vw;
  top: 2vw;
  right: 4.9vw;
}

.tel,
.pochta {
  position: absolute;
  font-family: 'SF_Pro_Display';
  font-size: 2vw;
  color: #fff6d2;
  left: 1.3vw;
}

.pochta {
  top: 4.5vw;
}
.tel {
  top: 2vw;
}

.telega,
.vk,
.githab {
  position: absolute;
  width: 4.1vw;
  height: 4.1vw;
  background-repeat: no-repeat;
  background-size: contain;
  top: 8.5vw;
}

.telega {
  background-image: url(../images/telega.svg);
  left: 1.3vw;
}

.vk {
  background-image: url(../images/vk.svg);
  left: 7.6vw;
}

.githab {
  background-image: url(../images/git.svg);
  left: 14vw;
}
